<article>
  {{#each .}}
  {{#if _id}}
    <section class="target" data-id={{_id}}>
      <div class="container">
        <a href="" data-id={{_id}} class="delete">delete</a>
        <a href="" data-id={{_id}} class="edit">edit</a> </br>
        <h1 class="title" contenteditable="false">{{title}}</h1>
        <div class="post-details">
        <p class="description" contenteditable="false">{{description}}</p>
        <h4 class="pincode" contenteditable="false">{{pincode}}</h4>
        <h4 class="address" contenteditable="false">{{address}}</h4><br>
        <button class="edit-cancel button" onclick="location.href='http://localhost:3000/post/mypost';">cancel</button>
        <button class="edit-save button">save</button>
        </div>
      </div>
    </section>
    {{/if}}
  {{/each}}
</article>
