<article>
  {{#each .}}
  {{#if _id}}
    <section class="target" data-id={{_id}}>
      <div class="container">
        <h1 class="title" contenteditable="false">{{title}}</h1>
        <div class="post-details">
        <p class="description" contenteditable="false">{{description}}</p>
        <h4 class="pincode" contenteditable="false">{{pincode}}</h4>
        <h4 class="address" contenteditable="false">{{address}}</h4><br>
        <button class="edit-cancel button">cancel</button>
        <button class="edit-save button">save</button>
        <!--reply-button is hidden by default till user login-->
        <button class="reply-button button">Reply</button>
        </div>
        <!--reply class is hidden by default-->
        <div class="reply-block">
          <textarea class="reply-msg" rows="4" cols="50"></textarea><br>
          <button class="reply-submit button">send</button>
          <button class="reply-cancel button">cancel</button>
        </div>
      </div>
    </section>
    {{/if}}
  {{/each}}
</article>
