<article>
  {{#each .}}
    <section class="target" data-id={{_id}}>
      <div class="container">
        <a href="" data-id={{_id}} class="delete">delete</a>
        <a href="" data-id={{_id}} class="edit">edit</a> </br>
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <h4>{{pincode}}</h4>
        <h4>{{address}}</h4>
        <!--reply-button is hidden by default till user login-->
        <button class="reply-button">Reply</button>
        <!--reply class is hidden by default-->
        <div class="reply-block">
          <textarea class="reply-msg" rows="4" cols="50"></textarea><br>
          <button class="reply-submit">send</button>
          <button class="reply-cancel">cancel</button>
        </div>
      </div>
    </section>
  {{/each}}
</article>
